
<nav class="navbar navbar-dark bg-dark">
	<a class="navbar-brand" href="http://localhost:4200/">
	  <img src="../../assets/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="logo">
	  Online Payment Wallet
	</a>
	<a class="navbar-brand" >
	  <img src="../../assets/balance.svg" width="30" height="30" class="d-inline-block align-top" alt="logo">
	  Wallet Balance :{{accountBalance}}
  </a>
  <a class="navbar-brand" >{{userName}}</a>


</nav>
&nbsp;
&nbsp;
<h1 style="text-align: center;">Withdraw Money</h1>

<br>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;

<div class="container">
 
    <div class="container ">
        <br><br>
       
        <form class="form-horizontal " #depositform="ngForm" (ngSubmit)="onSubmit()">

    
    
          <div class="form-group">
            <label class="control-label col-sm-4" for="amountt"><h3>Amount:</h3></label>
            <div class="col-sm-7">
              <input type="text" class="form-control" placeholder="Enter amount" name="amountt"
               [(ngModel)]=amount required pattern="^[1-9][0-9]*.[0-9]*$" #amountt="ngModel"
              [class.is-invalid]="amountt.invalid && amountt.touched">
             <!-- <small class="text-danger" [class.d-none]="phonenumber.valid || phonenumber.untouched">&nbsp;&nbsp;phone number is a required field</small> -->
                <div *ngIf="amountt.invalid && amountt.errors && amountt.touched" class="alert alert-warning alert-dismissible fade show">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <small class="text-danger" *ngIf="amountt.errors.required">please enter amount</small>
                    <small class="text-danger" *ngIf="amountt.errors.pattern">Enter a valid amount</small>
                </div>
           </div>
        </div>
    
    
    
          <div class="form-group">        
            <div class="col-sm-offset-2 col-sm-10">
              <br>
              <button type="submit" class="btn btn-primary" [disabled]="depositform.form.invalid">proceed </button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              

              <a (click)="onCancelClick()" class="btn btn-primary">Cancel</a>
            </div>
          </div>
          
        </form>


</div>
